/* ---------SECTION----------- */

/* ---------BUTTON-------
/* ---------BUTTON------------- */

/* ---------IMAGE------------- */





/* ---------IMAGE------------- */



/* ------------Blog---------- */


.pd-top-108 {
    padding-top: 108px;
}

.title {
    margin-bottom: 20px;
    font-weight: 700;
}

.btn-read-more {
    color: var(--main-color-one);
}

/* ------------Blog---------- */




/* <------------Partner-------------> */